@{
    ViewData["Title"] = "Home Page";
}



<div class="row" >
    <p>

    </p><p>

</p><p>

</p><p>

</p><p>

</p><p>

</p>
    <span style="font-size:40px;text-align:center"> Mask Monitoring System</span>
</div>
